.comment-box {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
}

.comment-header {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  color: black;
}

.comment-time {
  color: #888;
}

.comment-body {
  margin: 10px 0;
  text-align: left;
  white-space: break-spaces;
  /* word-wrap: unset; */
  color: black;
}

.comment-footer {
  display: flex;
  align-items: center;
}

.like-section,
.reply-section {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.like-icon,
.reply-icon {
  margin-right: 5px;
}

.reply-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.reply-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 5px;
}

.reply-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
