.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5;
  }
  
  .chart-box {
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 4px 0px #d4d1d1;
    border-radius: 5px;
  }
  
  .chart-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  