button {
  background-color: #2085ff;
  border: none;
  color: white;
  padding: 8px 11px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 4px;
  }
  .project-icon{
    background-color: #d5d5d5;
    border: none;
    color: white;
    padding: 4px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 2px 4px;
    cursor: pointer;
    border-radius: 4px;
  }
  .project-wrap{
    padding: 20px;
    background: #f2f2f2;
  }

  .project-list{
    padding: 78px 11px 0px 11px;
    box-sizing: border-box;
    overflow: auto;
  }
  form {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  form input, form select {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }
  
  form button {
    align-self: flex-start;
  }
  .project-card {
    background-color: #f8f8f8;
    border-radius: 8px;
    gap: 12px;
    padding: 10px 14px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .project-info {
    flex-grow: 1;
  }
  
  .project-info h2 {
    margin-top: 0;
    font-weight: 500;
    font-size: 20px;
  }

  .project-info p{
    color: #a8a8a8;
  }
  
  .status {
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 0.8em;
    white-space: nowrap;
  }
  
  .status.in-progress {
    background-color: #e6e6fa;
    color: #8a2be2;
    margin-right: 4px;
  }
  
  .status.pending {
    background-color: #ffe4e1;
    color: #ff4500;
    margin-right: 4px;
  }
  
  .status.completed {
    background-color: #e0ffff;
    color: #20b2aa;
    margin-right: 4px;
  }

  .team-members {
    display: flex;
    gap: 2px;
  }
  
  .team-member-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #eee;
    color: black;
    /* font-weight: bold; */
    font-size: 13px;
  }
  
  .team-member-circle:nth-child(1) {
    background-color: #ffe4b2;
  }
  
  .team-member-circle:nth-child(2) {
    background-color: #c2f0c2;
  }
  
  .team-member-circle:nth-child(3) {
    background-color: #ffc2c2;
  }
  
  .team-member-circle:nth-child(4) {
    background-color: #d1c2ff;
  }
  
  .team-member-circle:nth-child(5) {
    background-color: #b2d1ff;
  }
  
  .team-member-circle:nth-child(6) {
    background-color: #ffb2f0;
  }